<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponHeaderCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>nib</key>
			<string>CouponHeaderCell2</string>
			<key>height</key>
			<string>370</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>ShopBranchesCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>107</string>
			<key>header</key>
			<string>离您最近</string>
			<key>nib</key>
			<string>ShopBranchesCell</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>message</string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>AutoHeightCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>header</key>
			<string>通知</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>desc</string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>AutoHeightCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>header</key>
			<string>快券详情</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>notice</string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>AutoHeightCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>header</key>
			<string>使用须知</string>
		</dict>
		<dict>
			<key>header</key>
			<string>此商家的其他快券</string>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>shopCoupons</string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponShortCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>45</string>
			<key>dynamic</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>header</key>
			<string>其他用户还看了</string>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>otherCoupons</string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponShortCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>45</string>
			<key>dynamic</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
