<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<array>
		<dict>
			<key>username</key>
			<string>李亮</string>
			<key>password</key>
			<string>111</string>
			<key>phone</key>
			<string>1358965658</string>
		</dict>
		<dict>
			<key>username</key>
			<string>王明</string>
			<key>password</key>
			<string>111</string>
			<key>phone</key>
			<string>1358965659</string>
		</dict>
		<dict>
			<key>username</key>
			<string>周涛</string>
			<key>password</key>
			<string>111</string>
			<key>phone</key>
			<string>1358965657</string>
		</dict>
		<dict>
			<key>username</key>
			<string>孙俪</string>
			<key>password</key>
			<string>111</string>
			<key>phone</key>
			<string>1358965656</string>
		</dict>
		<dict>
			<key>username</key>
			<string>方年</string>
			<key>password</key>
			<string>111</string>
			<key>phone</key>
			<string>1358965655</string>
		</dict>
	</array>
	<key>district</key>
	<array>
		<dict>
			<key>title</key>
			<string>卢湾区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>徐汇区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>静安区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>长宁区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>浦东新区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>黄浦区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>普陀区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>闸北区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>虹口区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>杨浦区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>闵行区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>宝山区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>松江区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>嘉定区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>青浦区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>奉贤区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>金山区</string>
			<key>parent</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>崇明县</string>
			<key>parent</key>
			<string></string>
		</dict>
	</array>
	<key>shops</key>
	<array>
		<dict>
			<key>title</key>
			<string>大家乐</string>
			<key>desc</key>
			<string>大家乐集团始创于1968年，1987年于香港股票市场上市。经营的项目有快餐、机构饮食、特色餐厅、 食品产制、分销及海外的餐饮业务等。</string>
			<key>posterUrl</key>
			<string>http://wallet.95516.net/v2/web/image/brand/95450.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大家乐</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>55123677</string>
			<key>address</key>
			<string>杨浦区长阳路1750号欧尚商业中心1楼</string>
			<key>openTime</key>
			<string>10:00-22:00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大家乐</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>50125978</string>
			<key>address</key>
			<string>浦东新区碧波路635号传奇广场101-1F09，201-2F09室</string>
			<key>openTime</key>
			<string>10:00-22:00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>大家乐</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>66600037</string>
			<key>address</key>
			<string>虹口区西江湾388号虹口龙之梦B1楼 </string>
			<key>openTime</key>
			<string>10:00-22:00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新石器烤肉</string>
			<key>desc</key>
			<string>新石器烤肉自1999 年创立以来，在传统烤肉工艺的基础上，汲取众家之长，以精选的食材保证菜品的品质，配以独特的腌料和蘸料使所烤制的食物更加美味；在享受美味的同时，又能体验 DIY 的乐趣，具有韩国特色的石锅拌饭系列，兼顾了膳食的营养均衡，符合现代人的健康饮食理念。新石器以美味的菜品，亲民的价格，周到的礼遇和优雅的环境，为每一位光顾的客人提供超值的消费体验。</string>
			<key>posterUrl</key>
			<string>http://wallet.95516.net/v2/web/image/brand/99350.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新石器烤肉（南桥新都汇店）</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>55123677</string>
			<key>address</key>
			<string>上海市奉贤区环城东路681-707号南桥新都汇2楼C-2-01，C-2-02号商铺</string>
			<key>openTime</key>
			<string>11：00-22：00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新石器烤肉（森兰店）</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>55123677</string>
			<key>address</key>
			<string>上海市浦东新区启帆路628号森兰商都3层05室</string>
			<key>openTime</key>
			<string>11：00-22：00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>釜山料理</string>
			<key>desc</key>
			<string>PANKOO釜山料理是以“烧烤”为主题的韩式料理连锁餐厅，将韩国传统料理带到我国，甄选精品优质食材，用心专注烹饪技术，搭配地道秘制酱料，巧妙结合中韩美食，形成了独具特色的料理风格，创造出符合现代人口感的美味、健康、营养的韩国料理。在PANKOO釜山料理不仅能品尝地道纯正的韩国口味，还能畅享DIY休闲餐饮的别样乐趣。自2005年创立以来，PANKOO釜山料理已在上海、北京、杭州、苏州、南京、成都、济南、天津、合肥等中国一、二线城市的核心商圈相继开业五十余家连锁门店，深受无数热爱韩国料理食客的欢迎。如今，PANKOO釜山料理已成为上海餐饮市场品牌知名度和市场占有率最高的韩式餐饮品牌，连续三年居于上海大众点评网最热门餐饮品牌TOP10位置。</string>
			<key>posterUrl</key>
			<string>http://wallet.95516.net/v2/web/image/brand/99450.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>釜山料理（川沙店）</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>55123677</string>
			<key>address</key>
			<string>上海市浦东新区川沙路西市街188现代玛雅生活广场B座3楼</string>
			<key>openTime</key>
			<string>11：00-22：00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>釜山料理（国金店）</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string></string>
			<key>address</key>
			<string>浦东新区世纪大道8号D座四层L4-18室</string>
			<key>openTime</key>
			<string>11：00-22：00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>酷圣石冰淇淋</string>
			<key>desc</key>
			<string>美国COLD STONE Creamery公司坚持商品高质量与口味的多元创造性，结合欢乐的服务方式，经营冰淇淋事业。自1988年在美国亚利桑那州开设第一家门市，目前版图已横跨全球17个国家，达1,725余家门市。2006年12月28日正式授权台湾统一超商，经营最优质、顶级新鲜现做的冰淇淋品牌，成立「酷圣石冰淇淋股份有限公司」，全台第一家COLD STONE门市于2007年4月30日开幕！酷圣石冰淇淋股份有限公司是美国COLD STONE Creamery 继日本、韩国后，第三个海外授权国家。至今，COLD STONE 已进军日本、南韩、中国、台湾与东南亚、墨西哥及杜拜等地。坚持新鲜现做优质冰淇淋，搭配丰富多元的配料组合，提供顾客高达1200万种的客制化口味冰淇淋，持续在各个角落提供无与伦比的冰淇淋体验。</string>
			<key>posterUrl</key>
			<string>http://wallet.95516.net/v2/web/image/brand/25776.jpg</string>
		</dict>
		<dict>
			<key>title</key>
			<string>酷圣石冰淇淋（大拇指店）</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>021-58337672</string>
			<key>address</key>
			<string>浦东新区芳甸路199弄9号</string>
			<key>openTime</key>
			<string>10:00～22:00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>酷圣石冰淇淋（宝山万达店）</string>
			<key>desc</key>
			<string></string>
			<key>posterUrl</key>
			<string></string>
			<key>phone</key>
			<string>021-56479198</string>
			<key>address</key>
			<string>上海市宝山区一二八纪念路878号宝山万达广场4楼</string>
			<key>openTime</key>
			<string>10:00～22:00</string>
		</dict>
	</array>
	<key>coupons</key>
	<array>
		<dict>
			<key>title</key>
			<string>【15店通用】酷圣石冰淇淋</string>
			<key>avatarUrl</key>
			<string>http://wallet.95516.net/v2/web/image/mchnt/coupon/D00000000003545_logo_list_v2_web.jpg</string>
			<key>validate</key>
			<string>2014-06-16 至 2014-06-22</string>
			<key>discountContent</key>
			<string>6元享雪可或雪乐</string>
			<key>usage</key>
			<string> 注册银联钱包，下载优惠券，使用绑定的卡号62开头银联卡，本周在酷圣石刷卡6元尊享原价35元酷圣石雪可或雪乐冰饮，每张优惠券限兑换一杯冰饮。单用户限下载2张，数量有限，抢完即止。使用前请告知收银员使用银联钱包。</string>
			<key>maxNumber</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>title</key>
			<string>【29店通用】新石器烤肉</string>
			<key>avatarUrl</key>
			<string>http://wallet.95516.net/v2/web/image/mchnt/coupon/Z00000000003547_logo_list_v2_web.jpg</string>
			<key>validate</key>
			<string>2014-06-16 至 2014-06-22</string>
			<key>discountContent</key>
			<string>全单95折</string>
			<key>usage</key>
			<string>注册银联钱包，下载优惠券，使用绑定的卡号62开头银联卡，至新石器烤肉消费享全单95折优惠。单用户限下载1张。使用前请告知收银员使用银联钱包。</string>
			<key>maxNumber</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>title</key>
			<string>【22店通用】釜山料理</string>
			<key>avatarUrl</key>
			<string>http://wallet.95516.net/v2/web/image/mchnt/coupon/Z00000000003546_logo_list_v2_web.jpg</string>
			<key>validate</key>
			<string>2014-06-16 至 2014-06-22</string>
			<key>discountContent</key>
			<string>全单95折</string>
			<key>usage</key>
			<string>注册银联钱包，下载优惠券，使用绑定的卡号62开头银联卡，至釜山料理消费享全单95折优惠。单用户限下载1张。使用前请告知收银员使用银联钱包。</string>
			<key>maxNumber</key>
			<string>1000</string>
		</dict>
	</array>
	<key>couponTypes</key>
	<array>
		<string>美食</string>
		<string>休闲娱乐</string>
		<string>购物</string>
		<string>丽人</string>
		<string>结婚</string>
		<string>亲子</string>
		<string>运动健身</string>
		<string>酒店</string>
		<string>家装</string>
		<string>爱车</string>
		<string>生活服务</string>
	</array>
</dict>
</plist>
