<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponHeaderCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>140</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponUsageCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>140</string>
			<key>header</key>
			<string>返利券使用说明</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>ShopCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>140</string>
			<key>header</key>
			<string>离您最近</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>查看支持本券的全部xx门店</string>
					<key>class</key>
					<string>ButtonCell</string>
					<key>selector</key>
					<string>toShopList</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>aboutus</string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponCommentCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>dynamic</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
