<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>ShopHeaderCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>nib</key>
			<string>ShopHeaderCell</string>
			<key>height</key>
			<string>290</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>ShopBranchesCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>123</string>
			<key>header</key>
			<string>离您最近</string>
			<key>nib</key>
			<string>ShopBranchesCell</string>
		</dict>
		<dict>
			<key>header</key>
			<string>商户的快券列表</string>
			<key>height</key>
			<string>80</string>
			<key>dynamic</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponListCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
