<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>address</string>
					<key>label</key>
					<string>地址</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>phone</string>
					<key>label</key>
					<string>电话</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>openTime</string>
					<key>label</key>
					<string>时间</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>shoplist</string>
					<key>label</key>
					<string>所有店铺</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>34</string>
		</dict>
		<dict>
			<key>height</key>
			<string>96</string>
			<key>dynamic</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>CouponListCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>ShopDescCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
