<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>短信提醒</string>
					<key>class</key>
					<string>SwitchCell</string>
					<key>selector</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>站内消息提醒</string>
					<key>class</key>
					<string>SwitchCell</string>
					<key>selector</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>广播</string>
					<key>class</key>
					<string>SwitchCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>版本更新</string>
					<key>class</key>
					<string>ButtonCell</string>
					<key>selector</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>aboutus</string>
					<key>label</key>
					<string>关于我们</string>
					<key>class</key>
					<string>ButtonCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
