<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>点击登录</string>
					<key>class</key>
					<string>ButtonCell</string>
					<key>selector</key>
					<string>toLogin</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>UserCardCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>height</key>
			<string>70</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>我的快券</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>toCoupons</string>
				</dict>
				<dict>
					<key>key</key>
					<string>aboutus</string>
					<key>label</key>
					<string>我的银行卡</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>toCards</string>
				</dict>
				<dict>
					<key>key</key>
					<string>aboutus</string>
					<key>label</key>
					<string>我收藏的商家</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>toShops</string>
				</dict>
				<dict>
					<key>key</key>
					<string>aboutus</string>
					<key>label</key>
					<string>设置</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>toSettings</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
