<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string></string>
					<key>class</key>
					<string>UserAvatarCell</string>
					<key>selector</key>
					<string></string>
				</dict>
			</array>
			<key>nib</key>
			<string>UserAvatarCell</string>
			<key>height</key>
			<string>150</string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>收藏的快券</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>toCoupons</string>
					<key>image</key>
					<string>icon_mycoupons.png</string>
				</dict>
				<dict>
					<key>key</key>
					<string>aboutus</string>
					<key>label</key>
					<string>收藏的商户</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>toCards</string>
					<key>image</key>
					<string>icon_mycards.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>设置</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>logout</string>
					<key>image</key>
					<string>icon_mycoupons.png</string>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>站内信</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>logout</string>
					<key>image</key>
					<string>icon_mycoupons.png</string>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>label</key>
					<string>关于我们</string>
					<key>class</key>
					<string></string>
					<key>selector</key>
					<string>logout</string>
					<key>image</key>
					<string>icon_mycoupons.png</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
